			<div class="col-md-3 col-sm-12">
				<h3 class="font-weight-regular mb-20" style="display: inline-block;">{% unless include.show_table==0 %}Important Dates{% endunless %}</h3>
				{% unless include.show_table==0 %} {% include dates_table.html %} {% endunless %}
				
				<div class="twitter">
					<a class="twitter-timeline" href="https://twitter.com/ACM_DEBS?lang=en" data-height="390" data-chrome="nofooter" data-link-color="#55acee" data-border-color="#DCDCDC">A Twitter List by TwitterDev</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				
				<div class="col-md-12">
					<h3 class="font-weight-regular mb-20" style="display: inline-block;">Sponsored by</h3>
					<a href="https://euranova.eu/" target = _blank><img src="/img/clients/clients-logo5.png" alt="Euranova" class="col-xs-12" /></a>
					<p class="col-md-12 text-center">and</p>
					<a href="https://www.infrontfinance.com/" target = _blank><img src="/img/infront_logo_color.png" alt="Infront" class="col-xs-8 col-xs-offset-2" /></a>
				</div>

			</div>